<p> <a href="<?php echo $this->baseUrl('admin/index/addvendor'); ?>"> Add new file </a></p>

<table>
    <tr>
        <td>name</td>
    </tr>
    <?php foreach ($this->file as $files): ?>
        <tr>

            <td> <?php echo $this->escape($files->name); ?></td>
            <td> <a href="<?php echo $this->baseUrl('admin/index/editvendor'); ?>/id/<?php echo $this->escape($files->VendorId); ?>">update</a>
            <td>
                <a href="<?php echo $this->baseUrl('admin/index/deletevendor'); ?>/id/<?php echo $this->escape($files->VendorId); ?>">delete</a>
            </td>

        </tr>

    <?php endforeach; ?>

    <td>
        <a href='logout'>Logout</a>
    </td>
</table>